
	<h1 class="text-center mt-4"><%= @genre.name%></h1>
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<div class="card mt-2" style="height: 350px">
				<div class="card-header fst-italic">
					Popis
				</div>
				<div class="card-body">
					<p class="card-text"><%= simple_format(@genre.description) %></p>
					
					
				
				</div>
				<div class="card-footer text-body-secondary">
					<div class="row">
						<div class="col-12 text-end">
						<%= link_to 'Edit', edit_genre_path(@genre), class:"btn btn-outline-warning btn-sm" %>
						<%= link_to 'Delete', genre_path(@genre), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class:"btn btn-outline-danger btn-sm" %>
						</div>
					</div>	
				</div>
			</div>
		</div>		
	

</div>

