<div class="row clearfix ">
	<% @authors.each do |author|%>
	
		<div class="col-lg-3">
			<div class="card mt-2" style="height: 350px">
				
				<div class="card-header fst-italic">
					<h5 class="card-title" style="text-indent: 10px"><%= link_to truncate(author.name, length: 25), author_path(author), class:"text-success"%></h5>
				</div>
				<div class="card-body">
					<p class="card-text"><%= truncate(author.description, length: 200) %></p>
					
					
				
				</div>
				<div class="card-footer text-body-secondary">
					<div class="row">
						<div class="col-12">
						<%= link_to 'Edit', edit_author_path(author), class:"btn btn-outline-warning btn-sm" %>
						<%= link_to 'Delete', author_path(author), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class:"btn btn-outline-danger btn-sm" %>
						</div>
					</div>	
				</div>
			</div>
		</div>		
	
	<% end %>
</div>
