<div class="container" id="home-container">
  <div class="image-home-page">
	<div class="text-center" id="welcome-sentence" >
	  <h1>Welcome to your book manager</h1>
	</div>
	<br>
	<div class="text-center">
		
	</div>
  </div>

</div>