<div class="container" id="home-container">
  <div class="image-home-page">
	<div class="text-center" id="welcome-sentence" >
	  <h1>Vítejte ve vašem novém BookManageru</h1>
	</div>
	<br>
	<div class="text-center">
		 <%= link_to 'Zaregistrovat', new_user_path, class:"btn btn-success btn-md" %>
	</div>
		

  </div>

</div>